# Backend environment variables for Streamly
NODE_ENV=development
PORT=8000
CORS_ORIGIN=http://localhost,http://localhost:5173
MONGODB_URL=mongodb+srv://sakshamgarg3050:qQhrvudbJbkmkf0v@cluster0.yxpus2c.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0
DB_NAME=videotube
ACCESS_TOKEN_SECRET=A9x$Ld7m@Qe
ACCESS_TOKEN_EXPIRY=1d
REFRESH_TOKEN_SECRET=yEx$Ld7m@Qz
REFRESH_TOKEN_EXPIRY=10d
CLOUDINARY_CLOUD_NAME=dxncseph9
CLOUDINARY_API_KEY=519764829916933
CLOUDINARY_API_SECRET=ubGXZT3pzqSZmCAMdpg3Mg92Tk0
COOKIE_DOMAIN=localhost
REDIS_URL=redis://localhost:6379
